.gallery {
	display: flex;
	flex-flow: row wrap;
	max-width: 2560px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	align-items: center;
	img {
		height: auto;
		width: 100%;
		border: solid 1px rgba(1,28,229,.1);
		padding: 10px;
	}
}

.photo {
	margin-bottom: 60px;
	width: 300px;
	flex: auto;
	margin-left: 20px;
	margin-right: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner {
	margin: 60px;
	padding: 50px;
	text-align: center;
	flex-direction: column;
	align-items: space-between;
	
}

.social-icons {
	padding: 40px;
	flex-direction: row;
}

.footer {
	margin-bottom: 10px;
}