$header-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;


// Viewports

$brk-narrow 		:'(min-width: 768px)';
$brk-wide			:'(min-width: 1024px)'; 

$red : #fe4146;
$green : #73FC00;
$blue: #011CE5;